[submodule "003 Code/SpringBoot_Web_Monitoring"]
	path = 003 Code/SpringBoot_Web_Monitoring
	url = https://github.com/2025-Capstone-Project/SpringBoot_Web_Monitoring.git
[submodule "003 Code/FAN_Controller"]
	path = 003 Code/FAN_Controller
	url = https://github.com/2025-Capstone-Project/FAN_Controller.git
[submodule "003 Code/purethermal1-uvc-capture"]
	path = 003 Code/lepton-usb-control
	url = https://github.com/2025-Capstone-Project/purethermal1-uvc-capture.git
[submodule "003 Code/sys-temp-to-influxdb"]
	path = 003 Code/sys-temp-to-influxdb
	url = https://github.com/2025-Capstone-Project/sys-temp-to-influxdb.git
[submodule "003 Code/Data-Analysis"]
	path = 003 Code/Data-Analysis
	url = https://github.com/2025-Capstone-Project/Data-Analysis.git
[submodule "003 Code/lepton_spi_control"]
	path = 003 Code/lepton_spi_control
	url = https://github.com/2025-Capstone-Project/lepton_control.git
[submodule "003 Code/YOLO_TRAIN"]
	path = 003 Code/YOLO_TRAIN
	url = https://github.com/2025-Capstone-Project/YOLO_TRAIN.git
[submodule "003 Code/BMC"]
	path = 003 Code/BMC
	url = https://github.com/2025-Capstone-Project/BMC.git
